{% extends 'layouts/public.html' %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/">Stock<b>Images</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Preencha com o seu e-mail</p>

    <form action="/lostpassword" method="post">
      {{ form.csrf_token }}


      <div class="form-group has-feedback">

          {% if form.errors %}
            <ul class=errors>
            {% for error in form.errors %}
              <li>{{ error }} - {{ form.errors[error] }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">

        {{ form.email(id="email",class="form-control",placeholder="E-mail",required="disable") }}

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-flat">Recuperar senha</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}